#detalle-trabajo header{
	border-bottom: none;
	z-index: 1000;
}

.cursor-pointer{
	cursor: pointer;
}

.cursor-pointer img{
	width: 100%;
}

.cursor-pointer video{
	width: 100%;
}

.detalle-trabajo h2{
	font-size: 28px;
	line-height: 40px;
	text-decoration: underline;
}

.detalle-trabajo p{
	font-size: 18px;
	line-height: 28px;
}

.detalle-trabajo .flecha-volver{
	width: 20px;
	transform: rotate(90deg);
	cursor: pointer;
}

